{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Login and Register tabbed form</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static '/webview/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static '/webview/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/webview/css/bootstrap.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static '/webview/css/style.css' %}">
	<!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static '/webview/css/all.min.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/webview/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/webview/css/custom.css' %}">

{#    SweetAlert2#}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="particles-js" class="main-form-box">
	<div class="md-form">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="panel panel-login">
						<div class="logo-top">
							<a href="#"><img src="images/logo.png" alt="" /></a>
						</div>
						<div class="panel-heading">
							<div class="row">
								<div class="col-lg-6 col-sm-6 col-xl-6">
									<a href="#" class="active" id="login-form-link">See Ratings</a>
								</div>
								<div class="col-lg-6 col-sm-6 col-xl-6">
									<a href="#" id="register-form-link">Rate a Course</a>
								</div>
								<div class="or">OR</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form id="login-form" action="#" method="post" role="form" style="display: block;">
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-user-tie"></i></label>
											<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required="">
										</div>
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-key"></i></label>
											<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required="">
										</div>
										<div class="che-box">
											<label class="checkbox-in">
												<input name="checkbox" type="checkbox" tabindex="3" id="remember"> <span></span>
												Remember Me
											</label>
										</div>
										
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 offset-sm-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center">
														<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									<form id="register-form" action="#" method="post" role="form" style="display: none;">
{#										<div class="form-group">#}
{#											<label class="icon-lp"><i class="fas fa-user-tie"></i></label>#}
{#											<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required="">#}
{#										</div>#}
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-envelope"></i></label>
											<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required="">
										</div>
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-key"></i></label>
											<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required="">
										</div>
{#										<div class="form-group">#}
{#											<label class="icon-lp"><i class="fas fa-key"></i></label>#}
{#											<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required="">#}
{#										</div>#}
									<!-- 	<ul>
											<li>
												<button class="fb"><i class="fab fa-facebook-f"></i> Connect with Facebook</button>
											</li>
											<li>
												<button class="tw"><i class="fab fa-twitter"></i> Connect with Twitter</button>
											</li>
										</ul> -->
										
										<div class="che-box">
											<label class="checkbox-in"> 
												<input name="checkbox" type="checkbox"> <span></span>I agree to the <a href="#"> Terms and Conditions </a> and <a href="#">Privacy Policy </a>
											</label>
										</div>
										
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 ">
													<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
												</div>
                                                <div class="col-sm-6">
{#                                                    <button name="register-submit" id="-submit" tabindex="4" class="form-control btn btn-register">Register button</button>#}
													<input type="button" name="register-submit" id="getpassword-button" tabindex="4" class="form-control btn btn-register" value="Get Password">
												</div>
											</div>
										</div>										
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Login Register</a> Design By : <a href="https://html.design/">html design</a></p>
					
				</div>
			</div>
		</div>	
	</div>
	
</div>

	
<script src="{% static '/webview/js/jquery.min.js' %}"></script>
<script src="{% static '/webview/js/bootstrap.min.js' %}"></script>
<script src="{% static '/webview/js/particles.min.js' %}"></script>
<script src="{% static '/webview/js/index.js' %}"></script>
	<script type="text/javascript">
		$(function() {
			$('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
				$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
				$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#getpassword-button').click(function(e) {
				Swal({
                      title: 'Enter your institute email-id (xyz@iitkgp.ac.in)',
                      input: 'email',
                      inputAttributes: {
                        autocapitalize: 'off'
                      },
                      showCancelButton: true,
                      confirmButtonText: 'Send Password',
                      showLoaderOnConfirm: true,
                      preConfirm: (login) => {
                        return fetch(`/generatePassword?email=${login}`)
                          .then(response => {
                            if (!response.ok) {
                              throw new Error(response.statusText)
                            }
                            return response.json()
                          })
                          .catch(error => {
                            Swal.showValidationMessage(
                              `Request failed: ${error}`
                            )
                          })
                      },
                      allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                      if (result.value) {
                        Swal({
                            title: "Success",
                            text: "Password successfully sent to your email id.",
                            type: "success",

                        })
                      }
                    })
			});

		});
		
		$('.form-group input').focus(function () {
			$(this).parent().addClass('addcolor');
		}).blur(function () {
			$(this).parent().removeClass('addcolor');
		});




	</script>
</body>
</html>
