@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,300i,400,500,600,700,800,900');


/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
    color: #999999;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}

body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}

body.demos .container-fluid {
    max-width: 1080px
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	margin: 0px;
	list-style: none;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
}

.main-form-box{
	/*background: url(../images/bg_01.jpg) no-repeat center;*/
	background-color: black;
	background-size: cover;
	height: 100%;
	overflow: visible;
	position: relative;
	background-position: center;
	background-size: cover;
	display: table;
	position: relative;
	width: 100%;
}

.md-form{
	display: table-cell;
	vertical-align: middle;
}
.logo-top{
	padding: 30px 0px;
	text-align: center;
	background: rgba(255,255,255);
}

#particles-js .particles-js-canvas-el{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0px;
	top: 0px;
}

.panel-login {
	position: relative;
	z-index: 1;
	border: 1px solid #755c9e;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(255,255,255,0.2);
	box-shadow: 0px 2px 3px 0px rgba(255,255,255,0.2);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-login>.panel-heading {
	color: #00415d;
	background: rgba(255,255,255,0.5);
	border-color: #755c9e;
	text-align:center;
	position: relative;
	border-radius: 0;
}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	background: #755c9e;
	padding: 10px 16px;
	border-radius: 50px;
	display: block;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #222222;
	background: #ffffff;
	font-size: 15px;
}

.panel-login .panel-body{
	padding: 15px;
	background: rgba(255,255,255,0.8);
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	padding: 16px 20px 16px 50px;
	border: 1px solid #755c9e;
	font-size: 16px;
	border-radius: 50px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #755c9e;
}

.panel-login .form-group.addcolor .icon-lp{
	color: #755c9e;
}

.btn-login {
	background-color: #755c9e;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #755c9e;
	border-radius: 50px;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #222222;
	border-color: #222222;
}
.forgot-password {
	text-decoration: underline;
	color: #000000;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #755c9e;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #755c9e;
	border-radius: 50px;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #222222;
	border-color: #222222;
}

form .form-group{
	position: relative;
}

form .form-group .icon-lp{
	position: absolute;
	top: 10px;
	left: 18px;
	margin: 0px;
	font-size: 21px;
}

.or{
	position: absolute;
	top: 15px;
	left: 248px;
	width: 40px;
	height: 40px;
	color: #ffffff;
	background: #000000;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	line-height: 40px;
	text-align: center;
}

.panel-login .panel-body form ul{
	display: block;
	text-align: center;
	margin: 30px 0px;
}
.panel-login .panel-body form ul li{
	display: inline-block;
	margin: 0px 5px;
}

.panel-login .panel-body form ul li .fb{
	background: #3b5998;
	display: block;
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 100px;
	color: white;
	font-size: 16px;
	padding: 6px 12px;
	cursor: pointer;
	transition: all 150ms ease-out;
}
.panel-login .panel-body form ul li .fb i{
	padding-right: 10px;
}
.panel-login .panel-body form ul li .fb:hover{
	background: #755c9e;
}
.panel-login .panel-body form ul li .tw{
	background: #00aced;
	display: block;
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 100px;
	color: white;
	font-size: 16px;
	padding: 6px 12px;
	cursor: pointer;
	transition: all 150ms ease-out;
}
.panel-login .panel-body form ul li .tw i{
	padding-right: 10px;
}
.panel-login .panel-body form ul li .tw:hover{
	background: #755c9e;
}

.che-box{
	margin-bottom: 30px;
}
.che-box .checkbox-in{
	position: relative;
	display: block;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 15px;
	line-height: 27px;
	color: #000000;
	cursor: pointer;
}
.che-box .checkbox-in input{
	position: absolute;
	left: -9999px;
}
.che-box .checkbox-in i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 18px;
	height: 18px;
	outline: none;
	/*border-width: 1px;*/
	/*border-style: solid;*/
	background: none;
	/*border-color: #755c9e;*/
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.che-box .checkbox-in input + i::after{
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.che-box .checkbox-in input + i::after{
	content: '\f00c';
	top: 0px;
	left: -1px;
	width: 18px;
	height: 18px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
	color: #755c9e;
}

.che-box .checkbox-in input:checked + i::after {
    opacity: 1;
}

.checkbox-in a{
	color: #755c9e;
}

.footer-company-name{
	color: #ffffff;
	text-align: center;
	margin: 0px;
	padding: 20px 0px;
	position: relative;
	z-index: 1;
}

.footer-company-name a{
	color: #755c9e;
}
.footer-company-name a:hover{
	color: #ffffff;
}




























